// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$azulClaro: #0C93CC;
$azulOscuro: #005A80;
$rojo: #BF0502;
$amarillo: #FF8800;
$verde:#329f00;
$negro: #000C12;

$blanco: #fff0e0;
$gris: #dadada;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900